.vscode/**
.vscode-test/**
**/out/test/**
node_modules/**
**/node_modules/**
src/**
**/src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tslint.json
**/tsconfig.json
**/tsconfig.base.json
**/node.js.yml
**/.eslintrc.json
**/*.map
**/*.ts
.DS_Store
*.vsix